<div class="row">
  <div class="col s12 ">
    <div class="card white darken-1">
      <div class="card-content " [class.center]="isLoading">
        <kas-loading *ngIf="isLoading; else loadComplete"></kas-loading>
        <ng-template #loadComplete>
          <p>
            <i [class]="iconWeather"></i>
            {{infoText.main + (infoText.description ? (', ' + infoText.description) : '')}}</p>
          <span class=" row">
            <div class="col s12 m8 card-title bold">
              <div>{{data?.name}}
                <small>({{data?.sys.country}})</small>
              </div>
              <div *ngIf="main">{{main.temp + ' ' + metricSymbol}}</div>
            </div>
            <div *ngIf="main" class="col s12 m4">
              <div *ngIf="main.pressure">
                <div>
                  <span class="left">Presión:</span>
                  <span class="right">{{main.pressure}} hPa</span>
                </div>
                <div>
                  <span class="left">Humedad:</span>
                  <span class="right">{{main.humidity}} %</span>
                </div>
                <div>
                  <span class="left">Temp. Min:</span>
                  <span class="right">{{main.temp_min}} {{metricSymbol}}</span>
                </div>
                <div>
                  <span class="left">Temp. Max:</span>
                  <span class="right">{{main.temp_max}} {{metricSymbol}}</span>
                </div>
              </div>
            </div>

          </span>

        </ng-template>
      </div>

    </div>
  </div>
</div>
