header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

input {
  border: solid 1px rgba(128, 128, 128, 0.31) !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}


.cursos-pointer{
  cursor: pointer;
}

.no-marg{
  margin: 0 !important;
}
